# Better Auth
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=replace-me-locally

# Адрес API (apps/server)
SERVER_URL=http://localhost:3001

# Клиентские переменные обязаны иметь префикс VITE_
VITE_APP_TITLE=Ticketing
