NODE_ENV=development
PORT=3000

POSTGRES_PASS=postgres
POSTGRES_USER=postgres
POSTGRES_NAME=barabas
POSTGRES_URL=postgres://postgres:postgres@localhost:5433/barabas

REDIS_PASS=redis
REDIS_URL=redis://:redis@localhost:6378

LOG_LEVEL=info